.banner{
    text-align: center;
    color:Black;
}

* {
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
  
.back{
    text-align: right;
    margin-top: 20%;
    margin-right: 40%;
}
  
a {
  text-decoration: underline;
}

th {
    background-color: rgb(82, 80, 80);
    color: white;
}

th,
td {
  width: 300px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.new_category {
    font-size: 20px;
    margin-top: 2%;
    align-items: center;
}

.form_title {
    margin-right: 1.5%;
}

.form_button {
    margin-top: 3%;
}

// .top {
//     margin-bottom: 10%;
// }

h1 {
    margin-top: 2%; 
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 30px;
}
  