.form-group, .Sign-up, .form_group {

    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6%; 
    
}

.sign {
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;  
}

