.top {
    text-align: center;
    color:Black;
}

* {
    background-color: bisque;
}

.container {
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
  
.back {
    text-align: right;
    margin-top:20%;
    margin-right: 40%;
}
  
a {
  text-decoration: underline;
    
}

.form_body {
    margin-top: 1%;
    margin-right: 2.65%;
}

.form_update {
    margin-top: 1.5%;
}